/* Wizard */
html, body, table {
    margin:5px;
    padding:0px;
    overflow-x: hidden;
}

#rootwizard .container {
	width: auto;
}

#rootwizard ul.pager.wizard {
	position: fixed;
	bottom: 5px;
	right: 0px;
	margin-right: 15px;
}

#rootwizard ul.pager.wizard li {
	margin-left: 5px;
	font-size: 16px;
}

/* Add Contents */
.fixed-header .alert-info {
    background-image: linear-gradient(to bottom, #008BC7 0, #0081B8 100%);
    background-color: #0085BE;
    color: #FFF;
}

#contents-main {
    padding-top: 5px;
}

#contents-main .thumbnail .caption {
    overflow: hidden;
}

#contents-main .thumbnail .caption {
    text-align: center;
}

#contents-main .thumbnail .caption h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0px;
    font-size: 16px;
}

#contents-main .thumbnail .caption>p {
    margin: 10px 0 0;
}

#contents-main .thumbnail>img {
	height: 160px;
}

#contents-main .tab-content {
    padding: 10px;
}

#contents-main .btn-primary {
	background-image: none;
}
