
.infoScoop .adjustMiniBrowserBarOver,
.infoScoop .adjustMiniBrowserBarOut {
	position: relative;
	display: block;
	width:  100%;
	cursor: row-resize;
	text-align: center;
	background-color: #EEE;
	_font-size: 0px;
	padding-top: 1px;
	height: 7px;
	text-align: center;
	overflow:hidden;
}
.infoScoop .handleSideBar {
    border-top: 1px solid black;
}
.infoScoop .adjustMiniBrowserBarOver {
}
.infoScoop .adjustMiniBrowserBarOut {
}

.infoScoop .adjustMiniBrowserBarOver .adjustMiniBrowserBarHandle,
.infoScoop .adjustMiniBrowserBarOut .adjustMiniBrowserBarHandle {
	display: inline-block;
	_display: inline;
	position: relative;
	height: 6px;
	width: 64px;
	background: url(./imgs/adjust-bar-handle.gif) top center no-repeat;
	_overflow: hidden;
	top: -1px;
}
