<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style type="text/css">
body{margin:5px;}
</style>
<script><!--
var hostPrefix = "${hostPrefix}";
var proxyServerURL = hostPrefix + "/proxy";
var ${widgetId} = "${widgetId}";
var staticContentURL = "${staticContentURL}";
var widgetId = "${widgetId}";
var tabId = "${tabId}";

window.onerror = function( message,fileName,lineNumber ) {
	if( fileName && lineNumber ) {
		gadgets.warn( widgetId+": "+message +" at "+fileName+" #"+lineNumber );
	} else {
		gadgets.warn( widgetId+": "+message );
	}
	
	return true;
}

var features = ${requires.toString()};
var i18nMsgs = ${i18nMsgs.toString()};
--></script>
<script src="./js/gadget/features/#foreach( $require in $requires.keys())#if($velocityCount > 1):#end${require}#end.js"></script>
<script type="text/javascript">
gadgets.Prefs.setInternal_( ${userPrefs.toString()} );
</script>
<!--start script-->
<script src="${staticContentURL}/js/lib/prototype-1.6.0.3.js"></script>
<script src="${staticContentURL}/js/utils/ajax304.js"></script>
<script src="${staticContentURL}/js/utils/utils.js"></script>
<script src="${staticContentURL}/js/lib/date/date.js"></script>
<!--end script-->
#if( $requires.has("drag"))
<script src="${staticContentURL}/js/lib/scriptaculous-js-1.8.2/effects.js"></script>
<script src="${staticContentURL}/js/lib/scriptaculous-js-1.8.2/dragdrop.js"></script>
#end
<base href="${baseUrl}"></base>
</head>
<body dir="${dir}">
${content}
</body>
</html>