.tablib_table {
	width: 100%;
	text-align: center;
	empty-cells: show;
	padding: 3px 0;
	margin-left: 0;
	font: bold 11px Verdana, sans-serif;
}
.tablib_emptyTab {
	border-bottom: 1px solid #676767;
	padding: 0px 1px;
}
.tablib_spacerTab {
	border-bottom: 1px solid #676767;
	padding: 0px 1px;
	width: 1px;
}
.tablib_selected {
	width: 80px;
	padding: 3px 0.5em;
	margin-left: 3px;
	border: 1px solid #778;
	text-decoration: none;
	border-bottom: none;
	cursor: default;
}
.tablib_unselected {
	width: 80px;
	padding: 3px 0.5em;
	margin-left: 3px;
	border: 1px solid #778;
	background: #dddddd;
	text-decoration: none;
	cursor: pointer;
}