
.infoScoop .Information .floatRight{
	float:right;
}


.infoScoop .Information .rssItem {
	word-break: break-all;
	font-size:85%;
}

.infoScoop .Information .rssPubDate {
	color:gray;
	font-size:80%;
	word-break:break-all;
}

.infoScoop .Information .latestMark {
	border:0;
	vertical-align: text-bottom;
}
.infoScoop .Information .rssMore{
	color:#7777cc;
	font-size:70%;
	text-decoration:none;
	cursor:auto;
	vertical-align:bottom;
}
.infoScoop .Information .rssMore.Over {
	color:red;
	text-decoration:underline;
	cursor:pointer;
}